<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>JBehave Tutorial using Etsy.com Web-Runner</display-name>

  <servlet>
    <servlet-name>wicket</servlet-name>
    <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>org.jbehave.tutorials.etsy.webrunner.EtsyDotComStoriesWebApplication</param-value>
    </init-param>
    <init-param>
      <!-- Use system property "wicket.configuration" to override to "development" when needed -->
      <param-name>configuration</param-name>
      <param-value>deployment</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>wicket</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
